body
{
  background-color : black;
  color: white;
  text-align: center;
}

div
{
  color: white;
  text-align: center;
  font-size: 80px;
  margin : 250px 0 0 0;
}

.huge
{
  font-size: 10rem;
  color: cyan;
}
